%article{:id=>"post_#{post.id}", :class=>"single_post"}
  %header
    %h2
      = link_to post.title, post
    %p
      %time{:datetime=>post.created_at}=l(post.created_at)
  %p
    = raw post.body
  %footer
    - if admin_signed_in?
      %p
        = link_to "Edit", edit_post_path(post)
        |
        = link_to "Destroy", post, :confirm => 'Are you sure?', :method => :delete
        |
        = link_to "View All", posts_path

