- title "Posts"

%table
  %tr
    %th Title
    %th Cached slug
    %th Body
    %th Admin
  - for post in @posts
    %tr
      %td= post.title
      %td= post.cached_slug
      %td= post.body
      %td= post.admin
      %td= link_to 'Show', post
      %td= link_to 'Edit', edit_post_path(post)
      %td= link_to 'Destroy', post, :confirm => 'Are you sure?', :method => :delete

%p= link_to "New Post", new_post_path
