!!!
%html

  %head
    %title
      - if content_for?(:title)
        = yield(:title)
        |
      = Settings.blog_name
    %meta{"http-equiv"=>"Content-Type", :content=>"text/html; charset=utf-8"}/
    = stylesheet_link_tag 'screen.css', :media => 'screen, projection'
    = stylesheet_link_tag 'print.css', :media => 'print'
    /[if IE]
      = stylesheet_link_tag 'ie.css', :media => 'screen, projection'
    
    = stylesheet_link_tag "application", "coderay"
    = javascript_include_tag 'jquery', 'rails', 'rails.validations', 'application'

    = csrf_meta_tag
    = render :partial=>"/shared/google_analytics", :locals=>{:analytics_id=>Settings.google_analytics_id} unless Settings.google_analytics_id.blank?
    = yield(:head)


  %body
    %header#page_header
      %h1
        = link_to Settings.blog_name, root_path
    
    %section#content
      - flash.each do |name, msg|
        = content_tag :div, msg, :id => "flash_#{name}"

      - if show_title?
        %h1= yield(:title)

      = yield
    %section#sidebar
      %nav
        - for p in @pages
          = link_to p.title, p
          %br 
        %h3 Archives
        - @posts_months.sort.reverse.each do |month, posts| 
          &raquo;
          = link_to "#{month.strftime("%B %Y")} (#{posts.count})", by_month_posts_path(:m=>month.strftime("%m-%Y"))
          %br
        
        %h3 RSS
        = link_to "ATOM", feed_posts_path
        
        %h3 Manage
        - if admin_signed_in?
          = link_to "posts", posts_path
          %br
          = link_to "new_post", new_post_path
          %br
          = link_to "categories", categories_path
          %br
          = link_to "pages", pages_path
          %br
          = link_to "links", '#'
          %br
        - else
          = link_to "login", new_admin_session_path
          =# link_to "register", new_admin_registration_path
    %footer#page_footer
      %p
        &copy; 2011 <a href="http://galdomedia.pl/">GaldoMedia</a>
    %a{:id=>"github", :href=>"https://github.com/galdomedia/tracking_rails"}
      %span Fork me on Github
      %span And spread the word!
